#request-form {
    box-sizing: border-box;
    background-color: #fd907a;
    border-radius: 20px;
    padding: 0px 10px;
    aspect-ratio: 1 / 1 ;
    width: 45%;
   
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    color: #f8f8f8;
}

#request-form fieldset {
    margin: 5px;
    padding: 4px 3px;
    border:  #d7fff2 2px solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    
}
#request-form fieldset legend {
    color: #3f826d;
    font-size: 1rem;
    font-weight: bold;
}
#request-form fieldset#services{
    height: 35%;
    display: flex;
    flex-flow: row wrap;
    background-color: rgba(255, 251, 251, 0.75);
    color: #3f826d;
    justify-content: center;
    align-items: center;
    overflow: auto;
}


#request-form fieldset#services div {
    /* border: #3f826d 2px solid; */
    width: 30%;
    margin: auto;
    display: flex;
    flex-flow: column;
    text-align: center;
}


#request-form input, select{
    width: 45%;
    font-size: 1rem;
    margin: auto;
    /* height: 20px; */
    color: #3f826d  ;
    border-radius: 5px;
    text-align: center;
    border: none;
}



#request-form input:focus, select:focus {
    background-color: #3f826d;
    color: #f8f8f8;
    
}

#request-form input[type='checkbox'] {
    accent-color: #3f826d;
    
}

#request-form label {
    font-weight: bold;
}

#request-form h2 {
    font-size: 1.25rem;
}

#btn-group {
    /* border: #3f826d solid 2px; */
    margin-top: 5px;
    display: flex;
    justify-content: center;
  
}
#request-form button {
    width: 25%;
    margin: 5px;
    /* font-size: 1rem; */
    background-color: #3f826d;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#request-form button:disabled {
    background-color: #ccd6d3;

}


#request-form button:hover {
    animation: backgroundcolorchange 1s infinite;
}


@keyframes backgroundcolorchange {
    0% {
       opacity: 0.75;
       color: black;
    }   
    50% {
       opacity: 0.5;
       color: white;
    }
    75% {
       opacity: 0.75;
       color: black;
    }
    100% {
       opacity: 1;
       color: white;
    }
}

