.session-card {
    margin: 2px auto;
    background-color: #dffaf2;
    aspect-ratio: 3/ 1;
    width: 90%;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    color: #3f826d;
    cursor: pointer;
    flex: 0 0 0;
    /* box-shadow: #f8f8f8 0 2px 3px; */
}

.session-card div:last-child {
    
    white-space: nowrap;  
    font-size: 0.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
 
.session-card:hover {
    background-color: #74c5ab;
    color: #f8f8f8;
}