.session-card {
    margin: 2px auto;
    background-color: #dffaf2;
    aspect-ratio: 4/ 1;
    width: 90%;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    color: #3f826d;
    cursor: pointer;
    flex: 1 1 1;
}

.session-card div:last-child {
    font-size: 0.75rem;
}
.session-card:hover {
    background-color: #74c5ab;
    color: #f8f8f8;
}